html {
  box-sizing: border-box;
  font-size: 10px;
}

*:before, *:after {
  box-sizing: inherit;
}

body {
  // border: 1px solid red;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  font-family: sans-serif;
  line-height: 2;
}

.homeTitle {
  text-align: center;
  padding: 10px;
}

.bio {
  margin: 0;
  text-align: center;
  font-size: 20px;
  color: #7f7f7f;
}

// .headerImage {
//   // border: 11px solid red;
//   background: url('../images/villa_rich_093.jpg');
// }